tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:왇;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:왇;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:black;
	font-size:18.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	color:black;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	color:black;
	font-size:14.0pt;
	font-weight:800;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl69
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;}
.xl70
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	white-space:normal;}
